.nav{
    
    font-family: 'Caveat', cursive;
    font-size: 1.6rem;
    font-weight: 700;
    /* color: #000000; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0rem 1rem;
    /* margin-left: 10px; */
    height: 52px;

    /* box-shadow: 200px 5px  5px -6px #969696; */
    
    
}
.nav li.active{
    padding-bottom: 10px;
    border-width: 0 0 2px 0;
    border-bottom-color: #079b77;

}

.nav li:hover{
    margin: 0rem;
    padding-bottom: 10px;
    border-width: 0 0 2px 0;
    border-bottom-color: #079b77;

}
 
.nav a{
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .7rem;
}

.site-title{
    font-size: 2rem;
}

.nav ul{
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-middle{
    box-shadow: 0px 5px  5px -6px #969696;
}


.nav-right{
    /* display: flex;
    position: absolute;
    right: 0; */
}

ul{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: large ;
}

.logo{
    box-shadow: 10px 7px  20px -6px #969696;
    
}

