body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-text2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    text-align: center;
}

.items{
    border: 1px solid;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 20px;
}

hr{
    color: azure;
}

.Tables{
    width: fit-content;
    display: list-item;
    justify-content: center;
    align-items: center;
}